.scrollTopContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
  width: 100%;
}

.scrollTop {
  position: fixed; 
  bottom: 10px;
  width: 60px;
  z-index: 10;
  cursor: pointer;
  transition: color 0.4s;
  width: 60px;
  animation: fadeIn 0.3s;
}

.scrollTop:hover {
  color: darkgrey;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}